.App {
  text-align: center;
  /*background-color: #FFE6E6;*/
}

a:-webkit-any-link{
  text-decoration: none;
}

.home-container{
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 30px;
}

.home-item{
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  text-align: left;
  margin-left: 40px;
  padding-bottom: 20px;
}

.home-img{
  width: 90%;
  height: 70%;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 10%;
  z-index: 999;
  cursor: pointer;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.home-img:hover{
  cursor: pointer;
  transform: scale(1.5);
}

.home-text{
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: black;
}

.nav-menu{
  display: flex;
  margin-left: 10px;
  text-align: left;
  margin-bottom: 25px;
}

.nav-home{
  right: 30px;
  display: flex;
  height: 60px;
}

.nav-fake-business{
  position: relative;
  top: 15px;
  left: 18px;
  color: #0000FE;
  font-family: verdana;
  font-size: 30px;
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
}

.single-house-container-img{
  display: flex;
  margin-left: 300px; 
  margin-right: 300px;
  padding: 20px;
  /* border: 3px solid #EEE;
  border-radius: 30px; */
  overflow: scroll;
  margin-bottom: 10px;
}


.single-house-img{
  background: white;
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
  height: 300px;
  width: 540px;
  padding: 0 0.25rem;
  filter: brightness(110%);
  margin-top: 100px;
}

.single-house-img:hover{
  filter: brightness(90%);
  transition: all 1s ease;
}

.single-house-title{
  font-family: 'Charis SIL', serif;
  margin-left: 324px;
  margin-right: 324px;
  /* border: 2px solid black; */
  position: absolute;
  left: 0;
}

.entire-house{
  margin-top: 45px;
  margin-left: 300px;
  font-family: 'Charis SIL', serif;
  /*margin-right: 1000px; */
  /* border: 2px solid black; */
  position: absolute;
  left: 23px;
  top: 476px;
}

.house-amount-of{
  display: flex;
  /* margin-left: 310px;*/
  margin-right: 1000px; 
  border-bottom: 2px solid #D0C9C0;
  position: relative;
  left: 317px;
}

.house-amount-of-value{
  margin-left: 5px;
  font-family: 'Charis SIL', serif;
}

.extra-information{
  margin: 30px;
  padding-bottom: 52px;
  margin-left: 320px;
  margin-right: 680px;
  border-bottom: 2px solid #D0C9C0;
} 

.extra-information-self{
  display: flex;
  position: relative;
  left: 0;
  font-size: 20px;
}

.extra-information-self-check{
  color: rgb(34, 34, 34) !important;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
  font-weight: 600 !important;
  line-height: 20px !important;
  position: relative;
  left: 25px;
  bottom: 25px;
}

.extra-information-self-desc{
  font-family: Circular,
    -apple-system,
    BlinkMacSystemFont,
    Roboto,
    "Helvetica Neue",
    sans-serif !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 20px !important;
  color: rgb(113, 113, 113) !important;
  position: relative;
  right: 100px;
  top: 15px;
}

.extra-information-host{
  display: flex;
  position: relative;
  left: 0px;
  top: 30px;
  font-size: 20px;
}

.extra-information-host-superhost{
  color: rgb(34, 34, 34) !important;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
  font-weight: 600 !important;
  line-height: 20px !important;
  position: absolute;
  left: 43px;
  top: -40px;
}

.extra-infomration-host-desc{
  display: inline;
  font-family: Circular,
      -apple-system,
      BlinkMacSystemFont,
      Roboto,
      "Helvetica Neue",
      sans-serif !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  /* line-height: 20px !important; */
  color: rgb(113, 113, 113) !important;
  position: absolute;
  left: 45px;
  top: -10px;
  padding-right: 0px;
  text-align: left;
}

.extra-information-cancellation{
  display: flex;
  position: relative;
  left: 0px;
  top: 70px;
  font-size: 20px;
}

.extra-information-cancellation-desc{
  color: rgb(34, 34, 34) !important;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
  font-weight: 600 !important;
  line-height: 20px !important;
  position: relative;
  left: 25px;
  bottom: 20px;
}

.blue-cover{
  /* border: 3px solid blue; */
  margin-left: 320px;
  margin-right: 680px;
  padding-bottom: 100px;
  border-bottom: 2px solid #D0C9C0;
} 

.blue-cover-flex{
  display: flex;
}

.blue-cover-img{
  height: 100px;
  width: 100px;
  position: absolute;
  left: 312px;
}

.blue-cover-desc{
  text-align: left;
  position: relative;
  top: 105px;
  right: 100px;
  margin-left: 100px;
  font-family: 'Charis SIL', serif;
  font-size: 16px;
}

.single-page-desc{
  text-align: left;
  margin-top: 20px;
  margin-right: 700px;
  margin-left: 320px;
  font-family: 'Charis SIL', serif;
  font-size: 16px;
  padding-bottom: 20px;
  border-bottom: 2px solid #D0C9C0;
}

.stuff-available{
  margin-top: 20px;
  margin-right: 700px;
  margin-left: 320px;
  margin-bottom: 10px;
  border-bottom: 2px solid #D0C9C0;
  height: 250px; 
}

.stuff-available-place{
  text-align: left;
  color: rgb(34, 34, 34) !important;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
  font-weight: 600 !important;
  line-height: 20px !important;
  font-size: 20px;
}

.stuff-available-wifi{
  display: flex;
}

.fa-wifi{
  font-size: 20px;
}

.stuff-avilable-wifi-text{
  position: relative;
  bottom: 25px;
  left: 10px;
  font-family: 'Charis SIL', serif;
  font-size: 20px;
}

.stuff-avilable-wifi-text-boolean{
  position: relative;
  bottom: 25px;
  left: 15px;
  font-family: 'Charis SIL', serif;
  font-size: 20px;
}

.stuff-available-tv{
  display: flex;
}

.fa-tv{
  font-size: 20px;
  position: relative;
  bottom: 20px;
}

.stuff-avilable-tv-text{
  position: relative;
  font-family: 'Charis SIL', serif;
  bottom: 45px;
  left: 10px;
  font-size: 20px;
}

.stuff-avilable-tv-text-boolean{
  position: relative;
  font-family: 'Charis SIL', serif;
  bottom: 45px;
  left: 15px;
  font-size: 20px;
}

.stuff-available-kitchen{
  display: flex;
}

.fa-kitchen-set{
  font-size: 20px;
  position: relative;
  bottom: 40px;
}

.stuff-avilable-kitchen-text{
  font-family: 'Charis SIL', serif;
  font-size: 20px;
  position: relative;
  bottom: 65px;
  left: 12px;
}

.stuff-avilable-kitchen-text-boolean{
  font-family: 'Charis SIL', serif;
  font-size: 20px;
  position: relative;
  bottom: 65px;
  left: 20px;
}

.stuff-available-ac{
  display: flex;
}

.fa-snowflake{
  font-size: 20px;
  position: relative;
  bottom: 60px; 
}

.stuff-available-ac-text{
  font-family: 'Charis SIL', serif;
  font-size: 20px;
  position: relative;
  bottom: 85px;
  left: 15px;
}

.stuff-available-ac-text-boolean{
  font-family: 'Charis SIL', serif;
  font-size: 20px;
  position: relative;
  bottom: 85px;
  left: 20px;
}

.sleep-area{
  margin-top: 20px;
  margin-right: 700px;
  margin-left: 320px;
  margin-bottom: 10px;
  padding-bottom: 20px;
  border-bottom: 2px solid #D0C9C0;
}

.sleep-area-text{
  text-align: left;
  color: rgb(34, 34, 34) !important;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
  font-weight: 600 !important;
  line-height: 20px !important;
  font-size: 20px;
}

.sleep-area-container-img{
  display: flex;
  padding-right: 300px;
  position: relative;
  top: 0;
  overflow: scroll;
  height: 405px;
  
}

.sleep-area-img{
  background: white;
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
  height: 400px;
  width: 640px;
  padding: 0 0.25rem;
  position: relative;
  left: 0;
}

.reserve-border{
  border: 1px solid rgb(167, 167, 167);
  border-radius: 10px;
  display: block;
  margin-left: 320px;
  width: 540px;
  margin-top: 40px;
  margin-bottom: 30px;
  padding: 20px;
  box-shadow: 10px 10px 10px 10px rgb(167, 167, 167);
}

.reserve-box{
  text-align: left;
  padding: 10px;
  margin-bottom: 20px;
}

.reserve-box-price{
  text-align: left;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
  font-weight: 600 !important;
  line-height: 20px !important;
  font-size: 20px;
  margin-bottom: 30px; 
}

input[type=date] {
  text-align: left;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
  font-weight: 600 !important;
  line-height: 20px !important;
  font-size: 13px;
  padding-bottom: 0px;
  padding-left: 15px;
  padding-right: 50px;
  width: 200px;
}

input[type="date"]:before {
  color: black;
  content: attr(placeholder) !important;
  margin-right: 0.5em;
}

input[type="date"]:before {
  color: black;
  content: attr(placeholder) !important;
  margin-right: 0.5em;
}

input[type="date"]:focus:before {
  content: attr(placeholder) !important;
}

.reserve-box-date{
  display: flex;
  margin-top: 10px;
}

.reserve-box-date-checkin{
  display: grid;
  border: 1px solid rgb(167, 167, 167);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 100px;
  width: 100px;
}

.reserve-box-date-checkout{
  display: grid;
  border: 1px solid rgb(167, 167, 167);
  padding-right: 20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 100px;
  width: 100px;
}

.reserve-box-btn{
  border: none;
  margin-top: 20px;
  width: 520px;
  height: 50px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
  font-weight: 600 !important;
  line-height: 20px !important;
  font-size: 20px;
  border-radius: 10px;
  background: rgb(100, 111, 212);
  background: linear-gradient(0deg, rgba(100, 111, 212, 1) 0%, rgba(45, 142, 253, 1) 100%);
  color: white;
  transition: 2s;
}

.reserve-box-btn:hover{
  cursor: pointer;
  opacity: 70%;
}

.reserve-box-display-prices{
  margin-top: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800 !important;
  line-height: 20px !important;
  font-size: 18px;
  margin-right: 2px;
  border-bottom: 2px solid #D0C9C0;
}

.reserve-box-display-prices-row{
  display: flex;
}

.reserve-box-display-prices-left{
  color: #0000FE;
}

.reserve-box-display-prices-right{
  margin-left: auto;
}

.reserve-box-display-total-price{
  margin-top: 20px;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800 !important;
  line-height: 20px !important;
  font-size: 18px;
}

/* .reserve-box-display-total-price-left{} */

.reserve-box-display-total-price-right{
  margin-left: auto;
}

.things-to-know{
  border-top: 2px solid #D0C9C0;
  margin-left: 310px;
  margin-right: 670px;
  margin-bottom: 40px;
}

.things-to-know-title{
  text-align: left;
  color: rgb(34, 34, 34) !important;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
  font-weight: 600 !important;
  line-height: 20px !important;
  font-size: 20px;
  margin-top: 50px;
}

.things-to-know-rows{
  display: flex;
}

/* .things-to-know-first-column{
 
} */

.things-to-know-column-header{
  color: rgb(34, 34, 34) !important;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
  font-weight: bold !important;
  line-height: 20px !important;
  font-size: 15px;
  text-align: left;
}

.things-to-know-icon-with-text {
  display: flex;
}

.things-to-know-column-text{
  position: relative;
  bottom: 13px;
  left: 10px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
  font-weight: 400 !important;
  line-height: 13px !important;
  font-size: 15px;
  text-align: left;
}

.things-to-know-second-column{
  margin-left: 30px;
}

.footer{
  border-top: 2px solid #D0C9C0;
  display: flex;
  padding-bottom: 100px;
  background-color: #D0C9C0;
  font-family: inherit !important;
}

.footer-left{
  font-size: 20px;
  line-height: 18px;
  display: flex;
  margin-left: 100px;
}

.footer-left-copyright{
  justify-content: space-between;
}

.footer-left-text{
  margin-left: 10px;
}

.footer-right{
  font-size: 20px;
  line-height: 18px;
  font-weight: 600 !important;
  display: flex;
  margin-left: auto;
  padding-right: 50px; 
}

.fa-globe{
  display: flex;
  position: relative;
  top: 18px;
}

.footer-right-text{
  margin-left: 10px;
  font-weight: 600;
}

.fa-facebook-f{
  display: flex;
  position: relative;
  top: 17px;
  margin-left: 40px;
  margin-right: 5px;
  color: black;
}

.fa-twitter{
  display: flex;
  position: relative;
  top: 17px;
  margin-left: 10px;
  margin-right: 5px;
  color: black;
}

.fa-instagram{
  display: flex;
  position: relative;
  top: 17px;
  margin-left: 10px;
  margin-right: 5px;
  color: black;
}

/* .intro-to-house{
  display: flex;
} */

.profile-img{
  margin-left: auto;
  position: relative;
  bottom: 10px;
  border-radius: 100%;
  width: 4rem;
  height: 4rem; 
  z-index: -1;
}

.filter-home-type{
  display: flex;
  text-align: left;
  /* border: 2px solid black; */
  margin-left: 110px;
  margin-right: 110px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  color: #886F6F;
  height: 30%;
}

.filter-home-type-all{
  margin: 20px;
  /* height: 2px; */
}


.fa-earth-americas{
  margin-left: 2px;
}

.filter-home-type-all:hover{
  cursor: pointer;
  color: black;
}

.filter-home-type-all-active{
  margin: 20px;
  color: #0000FE;
  border-bottom: 1px solid #0000FE;
  height: 78px;
}

/* .filter-home-type-all-active:hover{
  
} */

.filter-home-type-lakefront{
  margin: 20px;
}

.fa-house-flood-water{
  margin-left: 30px;
}

.filter-home-type-lakefront:hover{
  cursor: pointer;
  color: black;
}

.filter-home-type-lakefront-active{
  margin: 20px;
  color: #0000FE;
  border-bottom: 1px solid #0000FE;
  height: 78px;
}

.filter-home-type-beach{
  margin: 20px;
}

.fa-umbrella-beach{
  margin-left: 14px;
}

.filter-home-type-beach:hover {
  cursor: pointer;
  color: black;
}

.filter-home-type-beach-active{
  margin: 20px;
  color: #0000FE;
  border-bottom: 1px solid #0000FE;
  height: 78px;
}

.filter-home-type-cabins{
  margin: 20px;
}

.fa-house{
  margin-left: 15px;
}

.filter-home-type-cabins:hover {
  cursor: pointer;
  color: black;
}

.filter-home-type-cabins-active{
  margin: 20px;
  color: #0000FE;
  border-bottom: 1px solid #0000FE;
  height: 78px;
}

.filter-home-type-islands{
  margin: 20px;
}

.fa-map{
  margin-left: 18px;
}

.filter-home-type-islands:hover {
  cursor: pointer;
  color: black;
}

.filter-home-type-islands-active{
  margin: 20px;
  color: #0000FE;
  border-bottom: 1px solid #0000FE;
  height: 78px;
}

.filer-home-type-camping{
  cursor: pointer;
  margin: 20px;
}

.fa-campground{
  margin-left: 27px;
}

.filer-home-type-camping:hover {
  cursor: pointer;
  color: black;
}

.filer-home-type-camping-active{
    margin: 20px;
    color: #0000FE;
    border-bottom: 1px solid #0000FE;
    height: 78px;
}

.filter-home-type-treehouse{
  cursor: pointer;
  margin: 20px;
}

.fa-tree{
  margin-left: 32px;
}

.filter-home-type-treehouse:hover {
  cursor: pointer;
  color: black;
}

.filter-home-type-treehouse-active{
  margin: 20px;
  color: #0000FE;
  border-bottom: 1px solid #0000FE;
  height: 78px;
}

.now-loading{
  text-align: center;
  margin-left: 510px;
}

.nav-user-scott{
  display: flex;
  
}

.nav-user-scot-text-1{
  margin-left: 20px;
  padding: 10px;
  position: absolute;
  right: 640px;
  top: -30px;
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
}

.nav-user-scot-text-2{
  margin-left: 20px;
  padding: 10px;
  position: absolute;
  right: 400px;
  top: -30px;
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
}

.nav-user-scot-img{
  position: absolute;
  right: 300px;
  top: 2px;
  width: 4.8rem;
  height: 4.8rem;
  z-index: -1;
  border-radius: 100%;
}

/* .scott{} */

.scott-title-div{
  display: flex;
  font-size: 40px;
  margin-left: 100px;
}

.scott-title{
  font-family: 'Stoke', serif;
  color: #890F0D;
  display: flex;
}

.holla-if-you-hear-me{
  width: 10rem;
  height: 1fr;
}

/* .scott-welcome{

} */

.scott-welcome-img{
  border-radius: 100%;
}

.scott-welcome-name{
  margin: 60px;
  font-family: 'Stoke', serif;
  font-size: 25px;
}

/* .scott-booked{} */

/* .reservation{} */